@model IEnumerable<EpucGames.Models.CompraFornecedor>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeCompraFornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorCompraFornecedor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeCompraFornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorCompraFornecedor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IDCompraFornecedor">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IDCompraFornecedor">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IDCompraFornecedor">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
